body {
    background-color: #000000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.avatar img {
    width: 400px;
    height: 400px;
    border: 5px solid #ff0000;
}

h1 {
    color: #ff0000;
}

.bio {
    font-size: 1.3em;
    margin: 32px 0;
}


.twitch {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out;
}

.twitch:hover {
    opacity: 0.7;
    transform: scale(1.2);
}

.discord {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out;
}

.discord:hover {
    opacity: 0.7;
    transform: scale(1.2);
}

.steam {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out;
}

.steam:hover {
    opacity: 0.7;
    transform: scale(1.2);
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.mute {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out;
}

.unmute {
    width: 50px;
    height: 50px;
    transition: all 0.5s ease-in-out;
}


.mute,
.unmute {
    position: absolute;
}

.mute {
    display: none;
}

#muteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: none;
    border: 0;
    padding: 0;
    outline: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(000, 000, 000, .7);
    width: 100vw;
    height: 100vh;
    margin: 0;
}